:root{
    --primary-color: #334add;
    --main-color:#2980b9;
    --orange:#f39c12;
    --orange_pricipc:#ff523b;
    --red:#e74c3c;
    --black:#333;
    --white:#fff;
    --light-color:#666;
    --light-bg:#eee;
    --header-bg:#e3e6f3;
  
    --border:.2rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  }
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background:var(--light-bg);
    border:1px var(--black) solid;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: var(--black);
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 10px;
}

.contact-form textarea {
    resize: none;
}

.contact-form input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.contact-form input[type="submit"]:hover {
    background-color: #45a049;
}

.contact-info {
    opacity: 0.7;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.contact-info h3 {
    margin-top: 0;
    color: var(--black);
}

.contact-info p {
    margin: 10px 0;
}

@media (max-width: 600px) {
    .contact-form {
        grid-template-columns: 1fr;
    }
}